[defaults]
inventory = inventory/inventory.py
roles_path = roles
host_key_checking = False
interpreter_python = auto_silent
forks = 20

stdout_callback = ansible.builtin.default
result_format = yaml

[ssh_connection]
pipelining = True